body {
}

#title {
	margin-left: 25px;
}

.well {
    color: blue;
}
.h1 {
    position: absolute;
    float: top:
}
#mainContent {
    position: relative;
    top: 10px;
}
#search {
    float: right;
}