.h1 {
    position: absolute;
    float: top;
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-color: #2B2B63;
    margin-left: 20px;
}
#mainContent {
    position: relative;
    top: 10px;
}
#search {
    position: absolute;
    right: 10px;
}
#temp{
    font-family: 'Muli', sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
}
#temp-low {
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    font-style: italic;
}