body {
    background-image: url('../background.jpg');
    background-color: #EBFBFF;
}
#title {
    text-align: center;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: white;
}
#mainContent {
    position: relative;
    top: 10px;
}
#temp{
    font-family: 'Raleway', sans-serif;
    font-size: 120px;
    font-weight: bold;
}
#temp-low {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}