doctype html
html
    head
        title= Wear
        meta(charset='utf-8')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,700,800,300,600,500', rel='stylesheet', type='text/css')
        script(src='js/angular.js')
        script(src='js/wear.js')
    body
        block pageContent