body {
    background-image: url('../background.jpg');
    background-color: #EBFBFF;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}
#title {
    text-align: center;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: white;
}
#mainContent {
    position: relative;
    top: 16px;
}
#temp{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

#clothes{
    font-size:25px;
    font-family: 'Raleway', sans-serif;
}